<div class="content">
  <section class="section">
    <%= turbo_frame_tag "guests" do %>
      <% render 'guests/index' %>
    <% end %>
  </section>

  <section class="section">
    <h1 class="title">
      Temos uma Mensagem Para Você:
    </h1>

    <p class='break-spaces'><%= @party.description %></p>
  </section>

  <section class="section">
    <h1 class="title">
      <span class="icon">
        <i class="fa-solid fa-location-dot"></i>
      </span>
      Endereço:
    </h1>

    <p class='break-spaces'><%= @party.address %></p>
  </section>


</div>