<turbo-frame id="guests">
  <%= link_to "Novo Convidado", new_admin_party_invite_guest_path(@party.admin_param, @invite.invite_param) %>

  <ul>
    <% @guests.each do |g| %>
      <li>
        <%= link_to g.name, edit_admin_party_invite_guest_path(@party.admin_param, @invite.invite_param, g.id) %>
      </li>
    <% end %>
  </ul>
</turbo-frame>
